terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.tfstate.lock.info

roles/geerlingguy.swap/
# roles/ansible-role-osquery/
# roles/ansible-win-osquery/
roles/geerlingguy.ntp/


.DS_Store

.vagrant/

.env

# wazuh-local.ini

opendistro/