[submodule "roles/wazuh-ansible"]
	path = roles/wazuh-ansible
	url = https://github.com/wazuh/wazuh-ansible
[submodule "roles/ansible-win-osquery"]
	path = roles/ansible-win-osquery
	url = https://github.com/ketsapiwiq/ansible-win-osquery
