{{ ansible_managed | comment('c') }}
{
  "platform": "windows",
  "queries": {

// change
    "TrustedLocations": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%%\\Security\\TrustedLocations' and name = 'Path';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check Trusted Locations paths"
    },
    "ShowOLEPackageObj": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Outlook\\Security' and name = 'ShowOLEPackageObj';",
{% if osquery_testing %}
      "interval": "20",
{% else %}
      "interval": "{{ win_osquery_interval }}",
{% endif %}
      "description" : "Check Outlook OLE Package function"
    },
    "OLEPackagerPrompt": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'PackagerPrompt';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice applications OLEPackagerPrompt"
    },
    "VBAWarnings": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'VBAWarnings';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice macros configuration - VBAWarnings"
    },
    "blockcontentexecutionfrominternet": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'blockcontentexecutionfrominternet';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice macros configuration - blockcontentexecutionfrominternet"
    },
    "MarkInternalAsUnsafe": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'MarkInternalAsUnsafe';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice macros configuration - MarkInternalAsUnsafe"
    },
    "ProtectedView": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security\\ProtectedView';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice macros configuration - ProtectedView"
    },
    "DDE-DontUpdateLinks": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Options%' and name = 'DontUpdateLinks';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice DDE state - DontUpdateLinks"
    },
    "DDE-DisableEmbeddedFiles": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Options%' and name = 'DisableEmbeddedFiles';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice DDE state - DisableEmbeddedFiles"
    },
    "DDE-Excel": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Excel\\Options' and (name like 'DDE%' or name = 'Options')",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice DDE state - Excel Options"
    },
    "DDE-Excel-WorkbookLinkWarnings": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Excel\\Options' and name = 'WorkbookLinkWarnings';",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice DDE state - DisableEmbeddedFiles"
    },
    "EquationEditor1": {
      "query" : "select * from registry where (key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Common\\COM Compatibility\\{0002CE02-0000-0000-C000-000000000046}' or key like 'HKEY_USERS\\%\\SOFTWARE\\Wow6432Node\\Microsoft\\Office\\%\\Common\\COM Compatibility\\{0002CE02-0000-0000-C000-000000000046}')",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice EquationEditor state"
    },
    "EquationEditor2": {
      "query" : "select * from registry where (key = 'HKEY_CLASSES_ROOT\\CLSID\\{0002CE02-0000-0000-C000-000000000046}' or key = 'HKEY_CLASSES_ROOT\\WOW6432Node\\CLSID\\{0002CE02-0000-0000-C000-000000000046}' or key = 'KEY_LOCAL_MACHINE\\SOFTWARE\\Classes\\Equation.3')",
      "interval": "{{ win_osquery_interval }}",
      "description" : "Check MsOffice EquationEditor state"
    },

// snapshots
    "TrustedLocations-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%%\\Security\\TrustedLocations' and name = 'Path';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check Trusted Locations paths"
    },
    "ShowOLEPackageObj-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Outlook\\Security' and name = 'ShowOLEPackageObj';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check Outlook OLE Package function"
    },
    "OLEPackagerPrompt-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'PackagerPrompt';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice applications OLEPackagerPrompt"
    },
    "VBAWarnings-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'VBAWarnings';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice macros configuration - VBAWarnings"
    },
    "blockcontentexecutionfrominternet-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'blockcontentexecutionfrominternet';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice macros configuration - blockcontentexecutionfrominternet"
    },
    "MarkInternalAsUnsafe-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security' and name = 'MarkInternalAsUnsafe';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice macros configuration - MarkInternalAsUnsafe"
    },
    "ProtectedView-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Security\\ProtectedView';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice macros configuration - ProtectedView"
    },
    "DDE-DontUpdateLinks-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Options%' and name = 'DontUpdateLinks';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice DDE state - DontUpdateLinks"
    },
    "DDE-DisableEmbeddedFiles-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\%\\Options%' and name = 'DisableEmbeddedFiles';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice DDE state - DisableEmbeddedFiles"
    },
    "DDE-Excel-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Excel\\Options' and (name like 'DDE%' or name = 'Options')",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice DDE state - Excel Options"
    },
    "DDE-Excel-WorkbookLinkWarnings-snapshots": {
      "query" : "select * from registry where key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Excel\\Options' and name = 'WorkbookLinkWarnings';",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice DDE state - DisableEmbeddedFiles"
    },
    "EquationEditor1-snapshots": {
      "query" : "select * from registry where (key like 'HKEY_USERS\\%\\SOFTWARE\\Microsoft\\Office\\%\\Common\\COM Compatibility\\{0002CE02-0000-0000-C000-000000000046}' or key like 'HKEY_USERS\\%\\SOFTWARE\\Wow6432Node\\Microsoft\\Office\\%\\Common\\COM Compatibility\\{0002CE02-0000-0000-C000-000000000046}')",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice EquationEditor state"
    },
    "EquationEditor2-snapshots": {
      "query" : "select * from registry where (key = 'HKEY_CLASSES_ROOT\\CLSID\\{0002CE02-0000-0000-C000-000000000046}' or key = 'HKEY_CLASSES_ROOT\\WOW6432Node\\CLSID\\{0002CE02-0000-0000-C000-000000000046}' or key = 'KEY_LOCAL_MACHINE\\SOFTWARE\\Classes\\Equation.3')",
      "interval": "{{ win_osquery_snapshot_interval }}",
      "snapshot": true,
      "description" : "Check MsOffice EquationEditor state"
    }

  }
}
