{{ ansible_managed | comment('c') }}
// https://github.com/palantir/osquery-configuration/blob/master/Endpoints/packs/performance-metrics.conf
{
  "platform": "windows,darwin",
  "queries": {
{% if win_osquery_tool_perfwatch is defined and win_osquery_tool_perfwatch != [] %}
{% for tool in win_osquery_tool_perfwatch %}
    },
    "Endpoint_Perf_{{ tool }}": {
      "query": "SELECT ((tool_time*100)/(SUM(system_time) + SUM(user_time))) AS pct FROM processes, (SELECT (SUM(processes.system_time)+SUM(processes.user_time)) AS tool_time FROM processes WHERE name='{{ tool }}');",
      "interval": 1800,
      "description": "Track the percentage of total CPU time utilized by {{ tool }}",
      "snapshot": true
    },
{% endfor %}
{% endif %}
    }
  }
}

